@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    font-family: "Open Sans", sans-serif;
}

.contenedor{
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 180px
}

.rojo{
    background-color: #cb2140;
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;
    border: 1px solid #cb2140;
}
img{
    width: 300;
    height: 338;
    margin: 0px 55px;
}
.azul{
    background-color: #0c1f2c;
  /*  height: 500px;*/
    width: 50%;
    color: white;
    padding: 20px 40px 20px;
    border-radius: 0 50px 50px 0;
    border:1px solid #0c1f2c;
}

#listado{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.items{
    padding: 15px;
    list-style: none;
    border: 1px solid #cb2140;
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.descripcion{
    padding-top:10px;
    font-size: 14px;
}

.parrafo{
    padding-top: 30px;
}

.titulo_precio{
    padding-top: 40px;
    font-size: 14px;
}

.precio{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 100;
}

button{
margin-top: 10px;
padding: 10px;
border-radius: 20px;
background-color: #cb2140;
border: #cb2140;
color: white;
}

@media (max-width:700px){

    .descripcion{
        padding-top:10px;
        font-size: 24px;
    }
    
    .parrafo{
        padding-top: 30px;
        font-size: 20px;
    }
    
    .titulo_precio{
        padding-top: 40px;
        font-size: 24px;
    }
    
    .precio{
        padding-top: 20px;
        font-size: 40px;
        font-weight: 200;
    } 

    button{
            font-size: 24px;
        }
}

@media (max-width:1020px){
    .contenedor{
        
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;
        margin-top: 50px;
    }  

    .rojo{
        background-color: #cb2140;
        display: flex;
        align-items: center;
        border-radius: 50px 50px 0 0;
        border: 1px solid #cb2140;
        width: 50%;
        margin: auto;
    }

    .azul{
        background-color: #0c1f2c;
        width: 50%;
        color: white;
        padding: 20px 40px 20px;
        border-radius: 0 0 50px 50px;
        border:1px solid #0c1f2c;
    }
}